a.btn-primary {
  display: inline-block;
  margin: 0.5rem;
}

a.btn-secondary::before {
  content: "🏠 ← ";
}
*,*::before,*::after{box-sizing:border-box}
html,body,h1,h2,h3,h4,h5,p,figure,blockquote,dl,dd,ul,ol,pre,code{margin:0}:where(p,h1,h2,h3,h4,h5,h6){overflow-wrap:break-word}:where(ul,ol){padding-inline-start:1em}:where(ul[role=list],ol[role=list],ul[class],ol[class]){list-style:none;padding-inline-start:0}
@media(prefers-reduced-motion: no-preference){
  html:focus-within{scroll-behavior:smooth}
}
html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}
  body{line-height:1.5;min-height:100vh}
  a{color:currentcolor}
  a:not([class]){text-decoration-skip-ink:auto}
  picture,img,video,iframe,object{display:block;max-inline-size:100%;block-size:auto}
  input,button,textarea,select{font:inherit}
  :root{
    --font-serif: Moranga, "Georgia Pro", Georgia, serif;
    --font-sans: "Recursive", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Recursive";
    --color-primary: #000;
    --color-primary-light: #333;
    --color-secondary: #09f;
    --color-secondary-light: #97caeb;
    --color-tertiary: #cbd1e1;
    --color-tertiary-light: #e5e9f2;
    --shade-down-1: #00000008;
    --shade-down-2: #00000015;
    --shade-down-3: #00000022;
    --step--1: clamp(0.625rem, 0.5811rem + 0.2193vi, 0.9375rem);
    --step-0: clamp(0.75rem, 0.6974rem + 0.2632vi, 1.125rem);
    --step-1: clamp(0.9rem, 0.8368rem + 0.3158vi, 1.35rem);
    --step-2: clamp(1.08rem, 1.0042rem + 0.3789vi, 1.62rem);
    --step-3: clamp(1.296rem, 1.2051rem + 0.4547vi, 1.944rem);
    --step-4: clamp(1.5552rem, 1.4461rem + 0.5457vi, 2.3328rem);
    --step-5: clamp(1.8662rem, 1.7353rem + 0.6548vi, 2.7994rem);
    --step-6: clamp(2.2395rem, 2.0823rem + 0.7858vi, 3.3592rem);
    --radius-1: 4px;
    --radius-2: 6px;
    --radius-3: 10px;
    --grid-line-size: 10px}
  @font-face{
    font-family:Moranga;
    font-style:normal;
    font-weight:normal;
    font-display:swap;
    src:url("https://demo-styles.deno.deno.net/fonts/Moranga-Regular.woff2") 
    format("woff2")
  }
  @font-face{
    font-family:Moranga;
    font-style:normal;
    font-weight:bold;
    font-display:swap;
    src:url("https://demo-styles.deno.deno.net/fonts/Moranga-Medium.woff2") 
    format("woff2")
  }
  @font-face{
    font-family:Recursive;
    font-style:normal;
    font-weight:300 1000;
    font-display:swap;
    src:url("https://demo-styles.deno.deno.net/fonts/Recursive_Variable.woff2") 
    format("woff2")
  }
  body{
    text-align:center
  }
  main section,footer section,header section{
    max-width:800px;
    margin:0 auto;
    padding:2rem;
    text-align:left
  }
  hr{
    border:none;
    border-top:1px solid #ccc;
    margin:3rem 0
  }
  body{
    font-family:var(--font-sans);
    font-size:var(--step-1);
    color:#666;line-height:1.5
  }
  h1,h2,h3,h4{
    font-family:var(--font-serif);
    font-weight:normal;
    font-style:normal;
    line-height:1.2;
    margin:1.75em 0 1em;
    color:#000
  }
  h1{font-size:2em}
  h2{font-size:1.5em}
  p{
    margin:1em 0
  }
  p+p{
    margin-top:0em
  }
  ul,ol{margin:1em 0}
  li::marker{color:#999}
  a{color:#000;text-decoration:underline;text-decoration-color:#000}
  a:hover{text-decoration-color:var(--color-secondary)}
  blockquote{border-left:solid 2px var(--shade-down-2);background:var(--shade-down-1);padding:2em;margin:2em 0;font-size:1.1rem}
  blockquote h1,blockquote h2,blockquote h3,blockquote h4{
    font-size:1.4em;
    padding-top:0;
    margin-top:0
  }
  dl{
    margin:1em 0
  }
  dt{
    font-weight:bold
  }
  dd{
    margin-bottom:1em
  }
  form{
    background-color:var(--shade-down-1);
    border-radius:var(--radius-3);
    padding:2em
  }
  label{
    font-size:.9em;
    color:var(--color-primary-light)
  }
  input:not([type=submit]),select,textarea{
    width:100%;
    font-size:1.1em;
    border:solid 1px #000;
    border-radius:var(--radius-2);
    padding:.3em .8em;margin-bottom:.8em
  }
  input[type=text]::placeholder,input[type=password]::placeholder,textarea::placeholder{
    color:var(--color-tertiary)
  }
  button,.btn-primary:link,.btn-primary:visited,.btn-secondary:link,.btn-secondary:visited{
    align-items:center;
    display:inline-block;
    background-color:#66c2ff;
    border-color:#07c;
    border-radius:8px;
    border-style:solid;
    border-width:1.81818px;
    box-shadow:#07c 2px 4px 0px 0px;
    font-family:Moranga,"Georgia Pro",Georgia,serif;
    max-width:max-content;
    padding:6px 20px;
    margin:.25em 0;
    line-height:1.6;
    text-decoration:none;
    color:#0f152a;
    font-weight:bold;
    transition:all .2s ease;
    text-align:center;
    white-space:nowrap;cursor:pointer
  }
  button:hover:not([disabled]):not(.disabled),button:focus:not([disabled]):not(.disabled),.btn-primary:link:hover:not([disabled]):not(.disabled),.btn-primary:link:focus:not([disabled]):not(.disabled),.btn-primary:visited:hover:not([disabled]):not(.disabled),.btn-primary:visited:focus:not([disabled]):not(.disabled),.btn-secondary:link:hover:not([disabled]):not(.disabled),.btn-secondary:link:focus:not([disabled]):not(.disabled),.btn-secondary:visited:hover:not([disabled]):not(.disabled),.btn-secondary:visited:focus:not([disabled]):not(.disabled){
    background-color:#a0d9ff
  }
  button:disabled,button.disabled,.btn-primary:link:disabled,.btn-primary:link.disabled,.btn-primary:visited:disabled,.btn-primary:visited.disabled,.btn-secondary:link:disabled,.btn-secondary:link.disabled,.btn-secondary:visited:disabled,.btn-secondary:visited.disabled{
    opacity:.5;cursor:not-allowed
  }
  .btn-primary:link,.btn-primary:visited{
    background-color:#66c2ff
  }
  .btn-secondary:link,.btn-secondary:visited{
    background-color:#dff2ff
  }
  input[type=submit]{
    padding:.4em 1em;
    border-radius:var(--radius-2);
    border:solid 1px #000;
    background-color:var(--color-primary-light);
    color:#fff;cursor:pointer
  }
  input[type=submit]:not(:disabled):hover,input[type=submit]:not(:disabled):focus{
    background-color:var(--color-primary);
    color:#fff
  }
  select{
    appearance:none;
    -webkit-appearance:none;
    background-image:var(--icon-chevron);
    background-position:calc(100% - 8px);
    background-repeat:no-repeat;background-size:.75em
  }
  label>*{
    display:block;margin-top:.3em
  }
  code{
    padding:.3em .4em;
    border-radius:var(--radius-2);
    background-color:#eee;
    color:var(--color-primary-light);font-size:.8em
  }
  pre{
    border-radius:var(--radius-2);
    overflow-y:scroll;
    margin:2em 0;
    padding:1.5em;
    background-color:var(--shade-down-1)
  }
  pre:has(>code){
    margin:1em 0;
    background-color:#222
  }
  pre code{
    padding:0;
    background-color:#222;
    color:var(--color-secondary-light)
  }
  .hljs-cdata,.hljs-comment,.hljs-doctype,.hljs-prolog{
    color:#568ccf
  }
  .hljs-punctuation{
    color:#c5c8c6
  }
  .namespace{
    opacity:.7
  }
  .hljs-keyword,.hljs-property{
    color:#95d6f8
  }
  .hljs-tag{
    color:#568ccf
  }
  .hljs-name{
    color:#fff
  }
  .hljs-title.class_{
    color:#fff
  }
  .hljs-boolean,.hljs-constant{
    color:#9c9
  }
  .hljs-symbol{color:#f92672}.hljs-number{color:#ff73fd}.hljs-attr-name,.hljs-builtin,.hljs-char,.hljs-inserted,.hljs-selector,.hljs-string,.hljs-selector-class{
    color:#70ffaf
  }
  .hljs-variable{
    color:#c6c5fe
  }
  .hljs-operator{
    color:#ededed
  }
  .hljs-entity{
    color:#ffffb6;
    cursor:help
  }
  .hljs-url{
    color:#96cbfe
  }
  .language-css .hljs-string,.style .hljs-string{
    color:#87c38a
  }
  .hljs-atrule,.hljs-attr-value{
    color:#f9ee98
  }
  .hljs-title.function_{
    color:#dad085
  }
  .hljs-regex{
    color:#e9c062
  }
  .hljs-important{
    color:#fd971f
  }
  .hljs-bold,.hljs-important{
    font-weight:bold
  }
  .hljs-italic{
    font-style:italic
  }
  .hljs-prefix.deleted,.hljs-prefix.inserted,.hljs-prefix.unchanged{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
  .hljs-table{
    background:0 0;
    box-shadow:none;
    display:inline
  }
  a.icon{
    display:inline-block;
    width:1.5em;
    aspect-ratio:1/1;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    margin:0 .25em;
    vertical-align:middle;
    text-indent:-9999px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer
  }
  a.icon:hover{
    opacity:.8
  }
  a.icon.icon-github{
    background-image:url("https://demo-styles.deno.deno.net/images/github.svg");width:1.6em
  }
  a.icon.icon-bluesky{
    background-image:url("https://demo-styles.deno.deno.net/images/bluesky.svg")
  }
  a.icon.icon-twitter{
    background-image:url("https://demo-styles.deno.deno.net/images/twitter.svg");width:1.4em
  }
  a.icon.icon-youtube{
    background-image:url("https://demo-styles.deno.deno.net/images/youtube.svg");width:2em
  }
  a.icon.icon-discord{
    background-image:url("https://demo-styles.deno.deno.net/images/discord.svg");width:1.8em
  }
a.icon.icon-deno{
  background-image:url("https://demo-styles.deno.deno.net/images/deno.svg")
}
a.icon.icon-deploy{
  background-image:url("https://demo-styles.deno.deno.net/images/deploy.svg");
  width:1.8em
}
.flex-btwn{
  display:flex;
  justify-content:space-between;
  align-content:center
}
.panel{
  margin-bottom:1.5rem;
  padding:1rem;
  border:2px solid var(--color-tertiary);
  border-radius:1px;
  background:#fff;
  box-shadow:2px 4px 0px 0px var(--color-tertiary-light);
  text-align:center}
body{
  background-color:#fff
}
img{
  display:inline-block
}